<ns-action-bar title="Current challenge" [showBackButton]="false">
    <ActionItem
        ios.position="right"
        android.position="actionBar"
        nsRouterLink="/challenges/replace"
        pageTransition="slideLeft">
        <Label text="Replace"></Label>
    </ActionItem>
    <ActionItem
        ios.position="right"
        android.position="actionBar"
        nsRouterLink="/challenges/edit"
        pageTransition="slideLeft">
        <Label text="Edit"></Label>
    </ActionItem>
</ns-action-bar>
<StackLayout>
<Label
    text="The current challenge"
    horizontalAlignment="center"
    class="title">
</Label>
<Button
    text="Edit"
    (tap)="onChallengeEdit()">
</Button>
<Button
    text="Replace"
    nsRouterLink="/challenges/replace">
</Button>
</StackLayout>

