/* Add mobile styles for the component here.  */
@import '~nativescript-theme-core/scss/light';
@import "../../../theme/colors";

FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300;
}
