/* Add mobile styles for the component here.  */
@import '~nativescript-theme-core/scss/light';
@import "../../../theme/colors";

FlexboxLayout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 300;
}

.btn-alt {
   font-size: 30;
   margin-top: 12;
}

.animate-button {
    animation-name: slide-up;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(30);
    }
    to {
        transform: translateY(0);
    }
}
