// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/*
@import '~nativescript-theme-core/scss/light';

$primary: yellow;
$secondary: yellow;
$disabled: #ccc;

$btn-color: $primary;


@import '~nativescript-theme-core/scss/index'; */

/* .form-control {
    border-bottom-color: purple;
    border-bottom-width: 3;
    margin: 5 0;
    font-size: 20;
    text-transform: uppercase;
    padding: 8 4;
}

.drawer-container {
    background: linear-gradient(140deg, #2b0c72, #5c3fa0);
    width: 80%;
    horizontal-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
} */

/* .btn {
    border-width: 1;
    border-color: purple;
    width: 100%;
    padding: 5 10;
    border-radius: 30%;
    margin: 5 0;
 }
 */
